{% extends "homepage.html" %}

{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% load crispy_forms_tags %}

{% block head_title %} | Settings{% endblock %}

{% block body_base %}
<main>
    {% block body_main_content %}
    <section class="jumbotron reg_page">
        <div class="container info">
            <div class="gen_info">{% trans "My Profile" %}</div>
            <div class="gen_form"></div>
                <form method="POST" action="{% url "account_settings" %}"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-actions gen_form">
		                {{ form|crispy }}
                        <input type="submit" class="submit_btn pointer" value="Update" />
                        <input type="button" class="cancel_btn pointer" value="Cancel" onclick="window.history.go(-1);"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}
    {% include "_footer.html" %}
</main>
{% endblock %}